-- You can adjust this port to your projects needs. 
PORT=3001
NODE_ENV=development

--Leave this blank to disable authorization stuff (since I tested locally, I didnt use this). 
DASHBOARD_PASSWORD=

DB_PATH=./data/scif.db

-- This are optional you dont need them to use this.
ABUSEIPDB_KEY=
VIRUSTOTAL_KEY=
HIBP_KEY=
